.container {
  height: 70vw;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  /* irei ter 2 colunas com o mesmo tamanho */
  grid-template-columns: 1fr 1fr;
  /* gap sera um espacamento entre essas fracoes */
  gap: 6.25rem;
  /* irei alinhar todo o conteudo ao centro */
  align-content: center;
}
