@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 160%;
}

:focus {
  outline-color: #3294F8;
}

/* .postDetailsContainer {
  width: 86.4rem;
  max-height: 45.6rem;
  padding: 0 3.2rem;

  margin-bottom: 5rem;

  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;

  overflow: auto;
  overflow: overlay;
}

.postDetailsContainer .img {
  width: 100%;
  border-radius: 2rem;
}

.postDetailsContainer li {
  list-style-position: inside;
} */